<div class="bg-cal">
  <button (click)="logout()" class="logout-btn">ログアウト</button>
  <div class="container-cal">
    <div class="ext-cal">
      <div id="body-cal">
        <input type="text" class="screen-cal" [value]="replaceOperators(calculator.displayValue)" disabled />
        <div class="btn-cal" mat-elevation-z8>
          <button type="button" class="operator" value="+">+</button>
          <button type="button" class="operator" value="-">-</button>
          <button type="button" class="operator" value="*">&times;</button>
          <button type="button" class="operator" value="/">&divide;</button>
          <button type="button" value="7">7</button>
          <button type="button" value="8">8</button>
          <button type="button" value="9">9</button>
          <button type="button" value="4">4</button>
          <button type="button" value="5">5</button>
          <button type="button" value="6">6</button>
          <button type="button" value="1">1</button>
          <button type="button" value="2">2</button>
          <button type="button" value="3">3</button>
          <button type="button" value="0">0</button>
          <button type="button" class="decimal function" value=".">.</button>
          <button type="button" class="clear function" value="0">AC</button>
          <button type="button" class="equal-sign operator" value="=">=</button>
        </div>
      </div>
    </div>
    <div class="history-cal">
      <h2>計算履歴</h2>
      <button type="button" class="clear-history">全削除</button>
      <button type="button" class="export-history">PDFに出力</button>
      <div class="history-entries"></div>
    </div>
    <div class="favorites-cal">
      <h2>お気に入り計算式</h2>
      <button type="button" class="save-favorite">計算式の保存</button>
      <button type="button" class="clear-favorites">全削除</button>
      <div class="favorites-entries"></div>
    </div>
  </div>
</div>
